body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../bg/galaxy.png");
  width:100%;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}

.transparent {
  background: rgba(0, 0, 0, 0.0)
}

h1.jumbotron-heading {
  color: white;
}

p.lead {
  color: rgb(222, 222, 222);
}
