body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("../bg/sky-night.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.main-header {
  color: white;
}

p.main-text {
  color: rgb(182, 182, 182);
}

h2.side-header {
  color: rgb(219, 219, 219);
}

p.side-text {
  color: rgb(143, 143, 143);
}
